.context-menu {
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 100;
}
.context-menu li {
    line-height: 30px;
    width: 150px;
    border: 1px solid #cccccc;
    border-bottom: none;
    text-indent: 15px;
    cursor: pointer;
    transition: 0.3s;
    background: #ffffff;
}
.context-menu li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.context-menu li:last-child{
    border-bottom: 1px solid #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.context-menu li:hover{
    background: #00B7FF;
    color: #ffffff;
}
.context-menu li.forbidden{
    cursor: not-allowed;
    background: #ffffff;
    color: #bbbbbb;
}

