
.icon-fs{
    font-size:50px;
}

.icon-fs-folder {
    color: #FFD659;
}

.icon-fs-picture {
    color: #FF7743;
}

.icon-fs-text {
    color: #4D97FF;
}

.icon-fs-code {
    color: #47CCAB;
}

.icon-fs-word{
    color: #4D97FF;
}

.icon-fs-excel{
    color: #63C422;
}

.icon-fs-ppt{
    color: #FF9743;
}

.icon-fs-pdf{
    color: #FF5A5A;
}

.icon-fs-av{
    color: #8183F1;
}

.icon-fs-zip{
    color: #D4B68B;
}

.file-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    margin-top: 20px;
}

.file-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
}

.file-list:after {
    clear: both;
}

.file-item {
    width: 100px;
    height: 100px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 4px;
    float: left;
}

.file-item:hover, .file-item.active {
    background: #03d1ff;
}

.file-item:hover span, .file-item.active span {
    color: #ffffff;
}

.file-item span {
    display: block;
    text-align: center;
}

.file-item-icon {
    line-height: 70px;
    font-size: 50px;
}

.file-item-name {
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
